* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
  height: 100vh;
  overflow: hidden;
}

/* CONTAINER PRINCIPAL */
.container {
  max-width: 420px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px 80px;
}

/* AVATAR */
.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

h1 {
  margin: 0;
}

.subtitle {
  color: #aaa;
  margin-bottom: 16px;
}

/* RECHERCHE (épinglée) */
#searchInput {
  width: 100%;
  padding: 12px 14px;
  border-radius: 14px;
  border: none;
  background: #1c1c1c;
  color: white;
  margin-bottom: 12px;
}

/* ZONE BOUTONS (SEULE ZONE QUI SCROLL) */
.links-scroll {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding-right: 6px;
}

/* BOUTONS */
.link-btn {
  width: 100%;
  background: #1a1a1a;
  border: none;
  color: white;
  padding: 14px 16px;
  margin-bottom: 10px;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}

.link-btn:hover {
  background: #2a2a2a;
}

/* TAGS */
.tags {
  display: block;
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

/* AUCUN RESULTAT */
#noResult {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.hidden {
  display: none;
}

/* FOOTER */
.footer-left {
  position: fixed;
  bottom: 14px;
  left: 16px;
  font-size: 13px;
  color: #888;
}

.footer-right {
  position: fixed;
  bottom: 14px;
  right: 16px;
  font-size: 13px;
  color: #888;
}
