body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

body.dark {
  background: #0f0f0f;
  color: white;
}

body.light {
  background: #f5f5f5;
  color: black;
}

.container {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.link {
  display: block;
  padding: 15px;
  margin: 10px 0;
  border-radius: 12px;
  text-decoration: none;
  background: #1e1e1e;
  color: white;
  transition: 0.2s;
}

body.light .link {
  background: white;
  color: black;
}

.link:hover {
  transform: scale(1.03);
}
